@import url('https://fonts.googleapis.com/css?family=Pattaya|Sansita&display=swap');

header h1 {
  padding: 40px;
  font-family: 'Pattaya', sans-serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 5px 10px gray;
}

.image {
  overflow: hidden;
}

.image img{
  width: 100%;
  height: 200px;
  cursor: pointer;
  transition: 1s;
}

.image img:hover{
  transform: scale(1.3);
}